## 1.HELLO WORLD

In [1]:
print("Hello World")

Hello World

## 2.ADDITION OF TWO NUMBERS

In [3]:
#first take inupt from user
#addition of number
num1 = input("Enter number:")
num2 = input("Enter number:")
num3 = int(num1) + int(num2)
print("sum is :",num3)

Enter number: 10
Enter number: 20

sum is : 30

##  3.CONCATENATION OF STRING

In [5]:
string1 = "Jack"
string2 = "fruit"
string3 = print(string1 + string2)

Jackfruit

## 4.DATA TYPES

In [5]:
num = 20
print(type(num))
num = 20.20
print(type(num))
num = "complex"
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>

## 5.LISTS

In [6]:

list = ["apple","banana","grapes"] 
print(list)
list.append("cherry")
print(list)
list.insert(4,"lichee")
print(list)
list.remove("apple")
print(list)
list.reverse()
print(list)

['apple', 'banana', 'grapes']
['apple', 'banana', 'grapes', 'cherry']
['apple', 'banana', 'grapes', 'cherry', 'lichee']
['banana', 'grapes', 'cherry', 'lichee']
['lichee', 'cherry', 'grapes', 'banana']

## 6.SETS

In [8]:
set = ('a','b','c')
print(set)

('a', 'b', 'c')

## 7.VARIABLES

In [1]:

x = 10
y = "Python"
print(x)
print(y)

10
Python

## 8.ARITHMETIC OPERATIONS

In [4]:
a = 5
b = 3
sum = a + b
difference = a - b
product = a * b
quotient = a / b
print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 8
Difference: 2
Product: 15
Quotient: 1.6666666666666667

## 9.LOOPS

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

## 10.CONDITIONAL STATEMENT

In [10]:
num = 7
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

## 11.FUNCTION

In [13]:
def greet(name):
    print("Hello,", name)

greet("Alice")

Hello, Alice

## 12.DICTIONARIES

In [16]:
person = {"name": "Bob", "age": 30, "city": "New York"}
print(person["name"]) 
print(person["age"])

Bob
30